.header-menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1;
    top: 0;
    width: 100%;
    border-bottom: none;
    box-shadow: 0px 5px 46px -7px rgba(34, 60, 80, 0.2);
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-left,
.menu-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-left {
    flex: 1; /* Для автоматического выравнивания к началу */
}

.menu-right {
    gap: 16px;
    justify-content: flex-end;
}
